@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

body {
  background-image: url("/bg-coffeeshop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  @apply min-h-screen flex items-center justify-center;
}

@font-face {
  font-family: "expresso";
  src: url("./assets/fonts/expresso.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.expresso {
  font-family: "expresso", sans-serif;
  text-shadow: 2px 2px 4px rgba(63, 31, 1, 0.479);
}
.inter {
  font-family: "Inter", sans-serif;
}
