@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

body,
html {
  background-color: #301909;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: "coffee";
  src: url("./assets/fonts/coffee.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.coffee {
  font-family: "coffee", sans-serif;
  text-shadow: 2px 2px 4px rgba(63, 31, 1, 0.479);
}

.inter {
  font-family: "Inter", sans-serif;
}
